[client]
port                                            = 3306
socket                                          = /tmp/mysql.sock
default-character-set                           = utf8mb4
 
[mysqld]
##### Default
user                                            = 
port                                            = 3306
socket                                          = /tmp/mysql.sock
basedir                                         = 
datadir                                         = 
tmpdir                                          = /tmp
default-storage-engine                          = innodb
event_scheduler                                 = 0
lower_case_table_names                          = 0
performance_schema                              = 0
transaction_isolation                           = READ-COMMITTED
sql_mode                                        = NO_ENGINE_SUBSTITUTION
local_infile                                    = 0
skip-name-resolve
skip-external-locking
  
##### Plugin Add
plugin_load_add                                 = metadata_lock_info
plugin_load_add                                 = simple_password_check
 
##### Simple Password Option
simple_password_check                           = ON
simple_password_check_digits                    = 1 # Number
simple_password_check_minimal_length            = 8 # Pass Length
simple_password_check_other_characters          = 1 # Special Char
simple_password_check_letters_same_case         = 1 # Case Char
 
##### Character
character-set-filesystem                        = utf8mb4
character-set-server                            = utf8mb4
collation_server                                = utf8mb4_unicode_ci
 
##### Connection
max-connections                                 = 1000
max_connect_errors                              = 9999
max_allowed_packet                              = 1024M
wait_timeout                                    = 3600
interactive-timeout                             = 3600
 
##### Thread pool (ON)
thread_pool_size                                = 
thread_pool_max_threads                         = 1000
thread_handling                                 = pool-of-threads
 
##### Session Memory
sort_buffer_size                                = 2M
read_buffer_size                                = 2M
join_buffer_size                                = 2M
read_rnd_buffer_size                            = 2M
max_heap_table_size                             = 1024M
tmp_table_size                                  = 1024M
 
##### Query
query_cache_type                                = 0
query_cache_size                                = 0M
query_cache_limit                               = 0M
thread_stack                                    = 192K
table_open_cache                                = 2048
group_concat_max_len                            = 1000000
 
##### Engine
### MyISAM Storage
key_buffer_size                                 = 32M
myisam-recover-options                          = backup,force
 
### Aria Storage
aria_pagecache_buffer_size                      = 128M
 
### InnoDB Storage(Default)
innodb_buffer_pool_size                         = 
innodb_buffer_pool_instances                    = 
innodb_file_per_table                           = 1
innodb_data_file_path                           = ibdata1:1G;ibdata2:1G;ibdata3:1G;ibdata4:1G;ibdata5:1G:autoextend
innodb_data_home_dir                            = 
innodb_write_io_threads                         = 
innodb_read_io_threads                          = 
innodb_thread_concurrency                       = 
innodb_flush_log_at_trx_commit                  = 1
innodb_log_buffer_size                          = 
innodb_log_file_size                            = 
innodb_log_files_in_group                       = 
innodb_max_dirty_pages_pct                      = 75
innodb_flush_method                             = O_DIRECT
innodb_lock_wait_timeout                        = 120
innodb_io_capacity                              = 
innodb_open_files                               = 8192
innodb_print_all_deadlocks                      = 1
innodb_doublewrite                              = 0
innodb_adaptive_hash_index                      = 0
sync_binlog                                     = 0

# InnoDB Buffer Dump(Warm UP)
innodb_buffer_pool_dump_at_shutdown             = 1
innodb_buffer_pool_load_at_startup              = 1
innodb_buffer_pool_dump_pct                     = 
 
# Fulltext Variables
innodb_ft_min_token_size                        = 2
  
##### Log Write
### Slow Query
slow_query_log                                  = 1
slow_query_log_file                             = mysql_slow.log
long_query_time                                 = 2

### Error
log-error                                       = mysql_error.log
log_warnings                                    = 1
 
##### Replication
server-id                                       = 1
expire_logs_days                                = 7
log-bin                                         = mysql-bin
binlog_format                                   = ROW
max_binlog_size                                 = 1024M
log_bin_trust_function_creators                 = 1
  
#### Slave Options
#relay_log                                      = mysql-relay
#read_only                                      = 1
 
[mysql]
no-auto-rehash
 
[mysqldump]
quick
max_allowed_packet                              = 1024M
 
[mysqlhotcopy]
interactive-timeout                             = 3600
 
[mysqld_safe]
open_files_limit                                = 8192
